.segment-container {
  padding: 30px 20px 0px 20px;
}
.arabic-text {
  direction: rtl;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 25px;
}

.arabic-font {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  letter-spacing: 0;
}

.footer {
  text-align: center;
  color: rgb(187, 187, 187);
}
