<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title color="primary">Les 40 Al-Nawawi</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      color="primary"
      [value]="choicedLanguage"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="français">
        <ion-label>Français</ion-label>
      </ion-segment-button>
      <ion-segment-button value="arabe">
        <ion-label class="arabic-font">العربية</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="list-container" mode="md">
    <div *ngIf="choicedLanguage === 'français'">
      <ion-card
        *ngFor="let hadith of hadithFrList"
        routerLink="/hadith/{{ hadith.id }}/fr"
      >
        <ion-card-header>
          <ion-card-subtitle color="primary"
            >Hadith {{ hadith.id }}</ion-card-subtitle
          >
          <ion-card-title>{{ hadith.titre }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

    <div *ngIf="choicedLanguage == 'arabe'" class="arabic-text">
      <ion-card
        *ngFor="let hadith of hadithArList"
        routerLink="/hadith/{{ hadith.id }}/ar"
        class="arabic-font"
      >
        <ion-card-header>
          <ion-card-subtitle color="primary"
            >الحديث {{ hadith.id }}</ion-card-subtitle
          >
          <ion-card-title>{{ hadith.titre }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
