ion-content {
  --ion-background-color: var(--ion-color-light-tint);
}

ion-toolbar {
  --background: var(--ion-color-light);

  ion-title {
    font-family: 'Merriweather',
      serif;
    font-weight: 600;
    font-size: 20px;
  }
}

.header_title {
  padding: 10px 25px;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0px -3px 21px rgba(0, 0, 0, 0.2);
  background-color: var(--ion-color-light);
  width: 100%;

  p {
    font-family: 'Merriweather',
      serif;
    font-size: 20px;
  }

}

.hadith-content {
  padding: 20px 18px;


  .hadith_content_box {
    background-color: var(--ion-color-light);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 0px 30px 30px 30px;
    box-shadow: 0px 1px 1px rgba(0, 255, 191, 0.3);
    text-align: justify;
  }

  .hadith-content__french {
    margin-bottom: 30px;

    .hadith_content_box {
      color: rgb(37, 37, 37);
      background-color: var(--ion-color-light);
      margin-bottom: 20px;
      padding: 15px;
      border-radius: 0px 15px 15px 15px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
      text-align: justify;
    }

    .hadith_title_box {
      font-family: 'Merriweather',
        serif;
      background-color: var(--ion-color-light);
      margin-bottom: 10px;
      padding: 1px 15px;
      border-radius: 30px 30px 30px 0px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);



      p {
        text-align: center;
        font-size: 20px;
      }
    }
  }


  .hadith-content__arab {
    font-family: 'Noto Kufi Arabic',
      sans-serif;

    .hadith_content_box {
      background-color: var(--ion-color-light);
      margin-bottom: 20px;
      padding: 15px;
      border-radius: 15px 0px 15px 15px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
      text-align: justify;
      direction: rtl;
      color: rgb(37, 37, 37);

    }

    .hadith_title_box {
      background-color: var(--ion-color-light);
      margin-bottom: 10px;
      padding: 1px 15px;
      border-radius: 30px 30px 0px 30px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);


      p {
        text-align: center;
        font-size: 20px;
      }
    }
  }
}
