<ion-content>
  <ion-header class="ion-no-border" mode="ios">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1" mode="md"></ion-back-button>
      </ion-buttons>
      <ion-title>Hadith 1</ion-title>
      <ion-buttons slot="end">
        <ion-button mode="md">
          <ion-icon color="dark" name="share-social"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="header_title">
      <p>Les actes ne valent que par leurs intentions.</p>
    </div>
  </ion-header>
</ion-content>
