<ion-content>
  <ion-header class="ion-no-border" mode="ios">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1" mode="md"></ion-back-button>
      </ion-buttons>
      <ion-title>Hadith 1</ion-title>
      <ion-buttons slot="end">
        <ion-button mode="md">
          <ion-icon color="white" name="share-social"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="header_title">
      <p>Les actes ne valent que par leurs intentions.</p>
    </div>
  </ion-header>

  <div class="hadith-content">
    <div class="hadith_content_box hadith-content__french">
      <p>L'émir des croyants Abû Hafs 'Omar Ibn al Khattâb5
        : dit a - سضٜ هللا ػْٔ -
        J'ai entendu l'Envoyé d'Allah - ٌعيٞٔ ٗ ػي هللاٚ صي - dire :
        <br>
        <br>
        " Les actes ne valent que par les intentions et à chacun selon son intention.
        Celui dont l'émigration a pour fin Allah et Son Envoyé, son émigration sera
        composée comme étant pour Allah et Son Envoyé. Celui dont l'émigration a pour
        fin un bas-monde qu'il atteint, ou une femme qu'il épouse, son émigration ne
        sera comptée que ce vers quoi il a émigré ".</p>
    </div>
    <div class=" hadith-content__arab">
      <p></p>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
