<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" color="medium">Fermer</ion-button>
    </ion-buttons>
    <ion-title>Biographie de l'auteur</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card button="true" class="auteurCard" mode="ios" routerLink="/auteur">
    <ion-card-content>
      <h2><b>Imam Al-Nawawi</b></h2>
      <br>
      <p>Abu Zakariyya Muḥyi al-Dīn Yaḥya Ibn Sharaf al-Nawawi est l’auteur des 40 hadith Nawawi.</p>
      <br>
      <p>Il naquit à Nawā, un lieu proche de Damas, dans la banlieue de la ville de Howran, en 631 de l’hégire (1234 de
        l’ère chrétienne), et mourut quarante-quatre ans plus tard, en 676 de l’hégire (1278 de l’ère chrétienne).</p>
      <br>
      <p>Dès son jeune âge, il a montré des signes de grande intelligence, de sorte que son père a décidé d’organiser
        son éducation. Il étudia à Damas à partir de l’âge de 18 ans et, après avoir effectué le pèlerinage (hajj) en
        1253, il s’y installa en tant qu’érudit privé.</p>
      <br>
      <h2><b>Les études du sheikh</b></h2>
      <br>
      <p>Très jeune, l’Imam Nawawi apprit à lire le Noble Coran et à cette époque, il avait presque atteint la
        puberté.</p>
      <br>
      <p>Nawā, à cette époque, n’avait pas d’atmosphère académique ou savante et il n’y avait pas d’académies ou
        d’institutions religieuses où l’on pouvait gagner l’excellence dans l’apprentissage religieux, donc son père l’a
        emmené à Damas, qui était considéré comme le centre de l’apprentissage et de l’érudition, et les étudiants de
        toute la Oumma s’y rassemblaient pour l’apprentissage islamique.</p>
      <br>
      <p>À cette époque, il y avait plus de trois cents instituts, collèges et universités à Damas.</p>
      <br>
      <p>Pendant son séjour à Damas, il a étudié auprès de plus de vingt professeurs renommés. Ces enseignants étaient
        considérés comme des maîtres faisant autorité dans leurs domaines de spécialité et les disciplines qu’ils
        enseignaient. L’imam Nawawi a étudié le hadith, la jurisprudence islamique, ses principes, sa syntaxe et son
        étymologie auprès de certains des plus grands savants de son époque</p>
      <br>
      <h2><b>Son parcours scolaire</b></h2>
      <br>
      <p>L’Imam Nawawi avait une soif inépuisable de connaissances, ce qui peut être déduit de sa pratique quotidienne
        des études.</p>
      <br>
      <p>Il avait l’habitude de lire douze leçons par jour et d’écrire des explications et des commentaires de chaque
        leçon, tout en faisant des ajouts importants. Quel que soit le livre qu’il lisait, il notait les notes
        marginales et les explications sur ce livre.</p>
      <br>
      <p>Son intelligence, son travail acharné, son amour, sa dévotion et son absorption dans ses études ont émerveillé
        ses professeurs, qui se sont pris d’affection pour lui et ont commencé à le louer et à l’admirer.</p>
      <br>
      <p>Outre la lecture et l’écriture, il passait son temps à réfléchir aux problèmes complexes de son époque et à
        trouver des solutions. Allah lui avait conféré le don d’une mémoire rapide et forte ainsi qu’une profondeur de
        pensée. L’Imam Nawawi a tiré pleinement parti de ses qualités et a gagné le plus haut degré d’honneur parmi ses
        pairs et les générations futures.</p>
      <br>
      <h2><b>Le caractère de l’Imam An Nawawi</b></h2>
      <br>
      <p>Les savants, l’élite de sa société et le public respectaient grandement l’Imam Nawawi en raison de sa piété, de
        son apprentissage et de son excellent caractère.</p>
      <br>
      <p>Il s’habillait et mangeait simplement et humblement. Les savants pieux ne se soucient pas d’obtenir des biens
        matériels, ils donnent la préférence aux activités religieuses et universitaires, ainsi qu’à la diffusion et à
        la propagation de la foi.</p>
      <br>
      <p>Ils éprouvent plus de plaisir et de joie dans ces activités que ceux qui recherchent la satisfaction dans des
        styles de vie luxueux. Il craignait Allah et avait des ambitions et des objectifs élevés en matière de diffusion
        et de propagation de la foi.</p>
      <br>
      <h2><b>Ses œuvres et sa mort</b></h2>
      <br>
      <p>L’imam Nawawi a eu une vie très courte (44 ans) mais même pendant cette courte période, il a écrit un grand
        nombre de livres sur des sujets variés. Presque chaque ouvrage est un chef-d’œuvre et un trésor de
        connaissances. Des centaines de milliers de personnes en ont bénéficié.</p>
      <br>
      <p>Parmi les ouvrages prestigieux de l’Imam Nawawi, outre la compilation des « 40 Hadiths » (al-Arbaʿīn), on peut
        citer :
      </p>
      <ul>
        <li>Riyad As Salihin</li>
        <li>Commentaire de Sahih Al Bukhari</li>
        <li>Commentaire de Sahih Muslim (Al-Minhāj fi Sharḥ Ṣaḥīḥ Muslim)</li>
        <li>Commentaire des Sunan Abi Daoud</li>
        <li>Mukhtaṣar al-Tirmidhī</li>
        <li>Kitab al-Rawḍah</li>
        <li>Kitab al-Adhkar</li>
        <li>Al-Taqrib fī ʿIlm al-Hadith wa al-Irshad fīhi</li>
        <li>Al-Tibyan</li>
        <li>Bustan al-ʿArifin</li>
      </ul>
      <p>Après avoir passé 28 ans dans des activités savantes loin de chez lui, l’imam Nawawi est retourné dans sa ville
        natale.</p>
      <p>Peu après son arrivée à Nawā, il tomba malade et mourut.</p>
      <p>Ses œuvres sont d’une valeur éternelle.</p>
      <p>Qu’Allah lui fasse miséricorde.</p>


    </ion-card-content>
  </ion-card>
</ion-content>
