ion-toolbar {
  ion-title {
    font-family: 'Merriweather',
      serif;
    font-weight: 600;
    font-size: 20px;
  }
}


.french_section {
  margin-top: 20px;
  .hadith-title {
    font-family: 'Merriweather',
      serif;
    padding: 1px 15px;

    p {
      text-align: center;
      font-size: 20px;
    }
  }

  .hadith-content {
    ion-card-content {
      font-size: 18px;
      text-align: justify;
    }
  }

  .share_fr{
    position: absolute;
    right: 100px;
    top: 340px;
  }
}

.arab_section {
  .hadith-title {
    font-family: 'Noto Kufi Arabic',
    sans-serif;
    padding: 1px 15px;

    p {
      text-align: center;
      font-size: 20px;
    }
  }

  .hadith-content {
    ion-card-content {
      font-size: 18px;
      margin-bottom: 20px;
      text-align: justify;
      direction: rtl;
      font-family: 'Noto Kufi Arabic',
      sans-serif;
      line-height: 32px;
    }
  }
}

