<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title>Hadith Favoris </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Hadith Favoris</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card
    button="true"
    mode="ios"
    *ngFor="let item of listeHadithFavoris, let index = index;"
    routerLink="/selected-hadith-page/{{index}}"
  >
    <ion-card-header>
      <ion-card-subtitle color="primary">Hadith {{item.id}}</ion-card-subtitle>
      <ion-card-title>{{item.hadithContent[0].title}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
