<ion-tabs>
  <ion-tab-bar mode="md" slot="bottom">
    <ion-tab-button tab="all-hadith">
      <ion-icon name="book"></ion-icon>
      <ion-label>Hadiths</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="all-saved-hadith">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Parametres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
