<ion-tabs>
  <ion-tab-bar mode="ios" slot="bottom" class="after-nav">
    <ion-tab-button tab="all-hadith" class="after-nav-item">
      <ion-icon name="book" class="after-nav-icon"></ion-icon>
      <ion-label>Hadiths</ion-label>
      <div class="nav-dot"></div>
    </ion-tab-button>

    <ion-tab-button tab="all-saved-hadith" class="after-nav-item">
      <ion-icon name="bookmark" class="after-nav-icon"></ion-icon>
      <ion-label>Favoris</ion-label>
      <div class="nav-dot"></div>
    </ion-tab-button>

    <ion-tab-button tab="quiz" class="after-nav-item">
      <ion-icon name="extension-puzzle" class="after-nav-icon"></ion-icon>
      <ion-label>Quiz</ion-label>
      <div class="nav-dot"></div>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="after-nav-item">
      <ion-icon name="settings" class="after-nav-icon"></ion-icon>
      <ion-label>Réglages</ion-label>
      <div class="nav-dot"></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
