<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title>
      Biographies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Biographies</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card mode="ios" *ngFor="let item of imamList, let index = index;">
    <img *ngIf="item.surnom ==='Imam Al-Nawawi'" src="../../assets/image_processing20200317-26108-1mzl6gl.gif" />
    <ion-card-header>
      <ion-card-subtitle color="primary">{{item.vraiNom}}</ion-card-subtitle>
      <ion-card-title>{{item.surnom}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- {{item.biographie | shorten:230}} -->
      <div>
        <ion-button size="small" routerLink='/biographies/{{index}}'>
          Lire sa biographie
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
