<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title> Biographies </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Biographies</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card mode="ios" button="true" *ngFor="let item of imamList, let index = index;"
    routerLink="/biographies/{{index}}">
    <ion-card-header>
      <ion-card-subtitle color="primary">{{item.vraiNom}}</ion-card-subtitle>
      <ion-card-title>{{item.surnom}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
