

 <ion-header>
  <ion-toolbar>
    <ion-title>Walid</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hadith</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,22,5,5,5,5,5,5,5,]">
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
  </ion-list>

  