.footer {
  text-align: center;

  .app-title {
    font-weight: 600;

    span {
      font-weight: 400;
      font-size: 13px;
    }
  }

  .author {
    font-size: 15px;
    color: rgb(180, 180, 180);
  }

}