<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Paramètres</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" icon="moon"></ion-icon>
          <ion-label> Mode Sombre </ion-label>
          <ion-toggle
            color="primary"
            [(ngModel)]="themeValue"
            slot="end"
            (ionChange)="toggleTheme($event)"
          ></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item (click)="shareApp()">
          <ion-icon slot="start" name="people"></ion-icon>
          <ion-icon
            color="primary"
            slot="end"
            name="chevron-forward"
          ></ion-icon>
          <ion-label>Partager l'application</ion-label>
        </ion-item>
        <ion-item
          (click)="openBrowser('https://play.google.com/store/apps/details?id=com.walid.nawawi')"
        >
          <ion-icon slot="start" name="star"></ion-icon>
          <ion-icon
            color="primary"
            slot="end"
            name="chevron-forward"
          ></ion-icon>
          <ion-label>Donner un avis</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="footer">
    <ion-chip color="primary">
      <ion-label>Version 1.0</ion-label>
    </ion-chip>
    <p class="author">Made with ❤ by Walid Salhi Belkacem</p>
    <p class="author">Liège, Belgium</p>
    <div class="social-links">
      <ion-button
        color="medium"
        class="ion-float-right"
        mode="md"
        fill="clear"
        style="font-size: 18px; margin: 10px 0px"
        size="small"
        shape="round"
        (click)="openBrowser('https://salhi-walid.netlify.app/')"
      >
        <ion-icon name="globe-outline"></ion-icon>
      </ion-button>
      <ion-button
        color="medium"
        class="ion-float-right"
        mode="md"
        fill="clear"
        style="font-size: 18px; margin: 10px 0px"
        size="small"
        shape="round"
        (click)="openBrowser('mailto:walid.slh.blk@outlook.fr')"
      >
        <ion-icon name="mail-outline"></ion-icon>
      </ion-button>
      <ion-button
        color="medium"
        class="ion-float-right"
        mode="md"
        fill="clear"
        style="font-size: 18px; margin: 10px 0px"
        size="small"
        shape="round"
        (click)="openBrowser('https://www.instagram.com/im.waa/')"
      >
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
