<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="theme-list" lines="full">
    <ion-item>
      <ion-icon slot="start" icon="moon" class="component-icon component-icon-dark"></ion-icon>
      <ion-label>
        Dark Mode
      </ion-label>
      <ion-toggle slot="end" onIonChange={this.toggleDarkMode}></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
