<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title slot="start">{{imam.surnom}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle color="primary">{{imam.vraiNom}}</ion-card-subtitle>
      <ion-card-title>{{imam.surnom}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="white-space: pre-line">
      {{imam.biographie}}
    </ion-card-content>
  </ion-card>
</ion-content>
